velero:
  # Below options worked until KKP 2.25
  # # Init containers to add to the Velero deployment's pod spec.
  # # At least one plugin provider image is required.
  # initContainers:
  #  - name: velero-plugin-for-aws
  #    image: docker.io/velero/velero-plugin-for-aws:v1.1.0
  #    imagePullPolicy: IfNotPresent
  #    volumeMounts:
  #      - mountPath: /target
  #        name: plugins
  # ### NOTE: restic is needed for volume backup (in our case prometheus chart)
  # restic:
  #   deploy: false
  #   resources:
  #     requests:
  #       cpu: 10m
  #       memory: 30Mi
  # credentials:
  #   aws:
  #     ### random key
  #     accessKey: 'WxmjsBt0'
  #     secretKey: 'ahxFbwh2JUTrlpE6hyHtKRnlJtkOgwIg' # 64 byte long
  #   restic:
  #     password: cFXy0NEr6oQpX2QwZyUQ9KLagORD9zUw
  # # define one of your backupStorageLocations as the default
  # backupStorageLocations:
  #   aws:
  #     provider: aws
  #     objectStorage:
  #       bucket: velero-backup-dev
  #     default: true
  #     config:
  #       region: minio
  #       s3ForcePathStyle: 'true'
  #       s3Url: http://minio.minio.svc.cluster.local:9000

  # New options for KKP 2.26+
  snapshotsEnabled: false
  deployNodeAgent: false
  # Init containers to add to the Velero deployment's pod spec.
  # At least one plugin provider image is required.
  initContainers:
   - name: velero-plugin-for-aws
     image: docker.io/velero/velero-plugin-for-aws:v1.10.0
     imagePullPolicy: IfNotPresent
     volumeMounts:
       - mountPath: /target
         name: plugins
  credentials:
    name: minio
    secretContents:
      credentials: |
        [default]
        aws_access_key_id='WxmjsBt0'
        aws_secret_access_key='ahxFbwh2JUTrlpE6hyHtKRnlJtkOgwIg'
  configuration:
    backupStorageLocation:
      - provider: aws
        bucket: velero-backup-dev  # remember to update when copying
        default: true
        credential:
          name: minio
          key: credentials
        config:
          region: minio
          s3ForcePathStyle: 'true'
          s3Url: http://minio.minio.svc.cluster.local:9000


# DEMO ONLY resource allocation. Not PROD GRADE!
  resources:
    requests:
      cpu: 10m


promtail:
  priorityClassName: system-node-critical  # This will ensure that promtail pods always get rolled out!

# DEMO ONLY resource allocation. Not PROD GRADE!
minio:
  resources:
    minio:
      requests:
        cpu: 10m
alertmanager:
  resources:
    alertmanager:
      requests:
        cpu: 10m
nodeExporter:
  resources:
    requests:
      cpu: 10m
cert-manager:
  webhook:
    resources:
      requests:
        cpu: 10m
dex:
  resources:
    requests:
      cpu: 10m
loki:
  resources:
    requests:
      cpu: 50m
prometheus:
  containers:
    prometheus:
      resources:
        requests:
          cpu: 200m
blackboxExporter:
  containers:
    blackboxExporter:
      resources:
        requests:
          cpu: 10m
